<!DOCTYPE html>
<html>

<head>
    <title>
        Experience Letter
    </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            background-color: #fff;
            width: 800px;
            padding: 40px;
            border: 1px solid #ddd;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            margin: 0 auto;
            position: relative;
            min-height: 100vh;
            box-sizing: border-box;
            padding-bottom: 100px;
            /* Space for footer */
        }

        .logo {
            text-align: center;
            margin-bottom: 20px;
        }

        .logo img {
            width: 100px;
        }

        .date {
            text-align: right;
            margin-bottom: 20px;
        }

        .title {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 5px;
        }

        .subtitle {
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 30px;
            letter-spacing: 1px;
        }

        .content {
            font-size: 16px;
            line-height: 1.6;
            text-align: justify;
            margin-bottom: 40px;
        }

        .signature-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
        }

        .signature {
            text-align: center;
            font-size: 14px;
        }

        .signature img {
            width: 100px;
            margin-bottom: 5px;
        }

        /* Fixed footer */
        .footer {
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 800px;
            background-color: #fff;
            padding: 10px 0;
            border-top: 1px solid #ddd;
            text-align: center;
            font-size: 14px;
            color: #666;
        }

        .contact-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .contact-item {
            display: flex;
            align-items: center;
            text-align: center;
        }

        .contact-item img {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    </style>
</head>


<body>
    <div class="container">
        <div class="logo">
            <img src="<%= company==='NTechzy Pvt. Limited' ?'https://res.cloudinary.com/dhlqc0ymy/image/upload/v1729940916/ems/jh2omdjjlqiywhqfufdy.png' : 'https://res.cloudinary.com/dhlqc0ymy/image/upload/v1731325192/ems/j1bd7cdfmtnklffqq8ld.png'  %>"
                alt="Logo">
        </div>


        <%  
        var currDate = new Date();
        var day = ("0" + currDate.getDate()).slice(-2);
        var month = ("0" + (currDate.getMonth() + 1)).slice(-2);  
        var year = currDate.getFullYear();
        var formattedDate = day + "/" + month + "/" + year;


        var fromDate = new Date(from);
        var fromDay = ("0" + fromDate.getDate()).slice(-2);
        var fromMonth = ("0" + (fromDate.getMonth() + 1)).slice(-2);
        var fromYear = fromDate.getFullYear();
        var formattedFromDate = fromDay + "/" + fromMonth + "/" + fromYear;

        var toDate = new Date(to);
        var toDay = ("0" + toDate.getDate()).slice(-2);
        var toMonth = ("0" + (toDate.getMonth() + 1)).slice(-2);
        var toYear = toDate.getFullYear();
        var formattedToDate = toDay + "/" + toMonth + "/" + toYear;
        %>

        <div class="date">
            Date: <%= formattedDate %>
        </div>

        <div class="title">Experience and Relieving Letter</div>
        <div class="subtitle">TO WHOMSOEVER IT MAY CONCERN</div>
        <div class="content">
            This is to certify that <%= name %> has worked with <%= company %> Limited as a <%= position %> from <%=
            formattedFromDate %> to <%= formattedToDate %>. During their time with us, <%= name %> consistently demonstrated
                                    excellent technical skills, professionalism, and a strong work ethic. They
                                    handled
                                    their responsibilities effectively and were a valuable contributor to our team.
                                    Their problem-solving abilities, dedication, and positive attitude were highly
                                    appreciated. In addition to their skills, <%= name %> was known for their
                                        integrity,
                                        reliability, and team spirit. They were well-liked by their colleagues and
                                        always willing to help others, contributing to a positive and collaborative
                                        work
                                        environment. We wish them continued success in their future endeavors.
        </div>
        <div class="signature-section">
            <div class="signature">
                <img src="https://res.cloudinary.com/dhlqc0ymy/image/upload/v1731483587/Screenshot_2024-11-13_130926_adno8m.png" alt="Signature">
                <div>Sneha Awasthi</div>
                <div>Human Resource</div>
            </div>
            <div class="signature">
                <div>Accepted and Agreed</div>
                <div>
                    <%= name %>
                </div>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="contact-section">
           <div class="contact-item">
                <%= company==='NTechzy Pvt. Limited'
                    ?'+91 9125886480'
                    : '+91 9125886480' %>
            </div>
            <div class="contact-item">
                <%= company==='NTechzy Pvt. Limited'
                ?'hr@careerkick.in'
                : 'hr@careerkick.in' %>
            </div>
            <div class="contact-item">
                <div>
                    <%= company === 'NTechzy Pvt. Limited'
                    ?'GF 37,SNG Plaza Near-Pari Chowk'
                    : 'GF 37,SNG Plaza Near-Pari Chowk' %>
                </div>  <br>
              
            </div>
        </div>
    </div>
</body>

</html>